{% load static %}
<div class="main__footer">
    <div class="footer__container">
        <div class="footer__container__block">
            <div class="footer__container__block__title">
                меню
            </div>
            <div class="footer__container__block__menu">
                <a
            href="{% url 'products:index' %}#delivery__menu__title"
            class="">
                Меню доставки
            </a>
            <a href="{% url 'products:stock' %}">
                Акции
            </a>
            <a
            href="{% url 'products:index' %}#contact_info_main">
                Контакты
            </a>
            </div>
        </div>
        <!-- contact block -->
        <div class="footer__container__block">
            <div class="footer__container__block__title">
                сделать заказ
            </div>
            <div class="footer__container__block__info">
                <i class="fa fa-phone-alt"></i>
                <a href="tel:78611511254"
                class="footer__container__block__info__tel">
                    +7 (861)-151-12-54
                </a>
            </div>
            <div class="footer__container__block__info">
                <i class="fa fa-clock"></i>
                <span>
                    пн-пт: 12:00 - 00:00
                </span>
            </div>
            <div class="footer__container__block__info">
                <i class="fa fa-clock"></i>
                <span>
                    сб-вс: 11:00 – 00:00
                </span>
            </div>
        </div>
    </div>
</div>