<!-- {% include './blocks/h_first.html' %} -->
{% load static %}


<div class="main__header__second__mobile__logo">
    <a class="header__second__logo mobile__logo"
    href="{% url 'products:index' %}">
        <img class="logoimg"
        src="{% static 'images/main_logo2.jpg' %}" alt="">
    </a>


</div>

<div class="main__header__second">
    <a class="header__second__logo logo__big"
    href="{% url 'products:index' %}">
        <img class="logoimg"
        src="{% static 'images/main_logo2.jpg' %}" alt="">
    </a>

    <div class="header__second__catalog">
        <div class="header__second__catalog__items">
            <a
            href="{% url 'products:index' %}#delivery__menu__title"
            class="main__anchor__header">
                Меню доставки
            </a>
        </div>
        <div class="header__second__catalog__items">
            <a href="{% url 'products:stock' %}">
                Акции
            </a>
        </div>
        <div class="header__second__catalog__items">
            <a
            href="{% url 'products:index' %}#contact_info_main">
                Контакты
            </a>
        </div>
    </div>

    <div class="main__header__phone">
        <div class="main__header__phone__main">
            <i class="fa fa-phone-alt"></i>
            <div class="main__header__phone__main__text">
                <a href="tel:+78611511254">
                    +7 (861)-151-12-54
                </a>
            </div>
        </div>
        <div class="main__header__phone__callme">
            <span class="main__header__phone__callme">
                Заказать звонок
            </span>
        </div>
    </div>

    <div class="header__second__catalog__mobile">
        <div class="header__second__catalog__mobile__items">
            <i class="gg-menu-left-alt"></i>
            <span>
                Меню
            </span>
        </div>
    </div>

    <div class="main__header__phone__mobile">
        <div class="main__header__phone__main">
            <i class="fa fa-phone-alt"></i>
            <div class="main__header__phone__main__text">
                <a href="tel:+78611511254">
                    +7 (861) 151-12-54
                </a>
            </div>
        </div>
        <div class="main__header__phone__callme">
            <span class="main__header__phone__callme">
                Заказать звонок
            </span>
        </div>
    </div>

    <div class="header__second__icons">

        

        <a class="header__second__icons__item
        header__cart"
        href="{% url 'cart:index' %}">
            <i class="fa fa-shopping-basket
            header__basket"></i>
            <div class="cart__count__info">
                <span class="count__label">
                    {{ cart.items_in_cart }}
                </span>
            </div>
        </a>
        <a class="header__second__icons__item nolink"
        href="{% url 'users:index' %}">
            <i class="fa fa-user"></i>
        </a>
    </div>
</div>


<div class="header__popup__mobile">
    <div class="header__popup__mobile__menu">
        <a href="{% url 'products:index' %}"
            class="mobile__nav">
                Главная
            </a>
        <a
            href="{% url 'products:index' %}#delivery__menu__title"
            class="main__anchor__header
            mobile__nav">
                Меню доставки
            </a>
            <a href="{% url 'products:stock' %}"
            class="mobile__nav">
                Акции
            </a>
            <a
            href="{% url 'products:index' %}#contact_info_main"
            class="mobile__nav">
                Контакты
            </a>
    </div>
</div>
<div class="header__popub__mobile__close">
    <i class="fa fa-close"></i>
</div>
<div class="header__popup__mobile__wrapper">

</div>



<script>
    $(".header__second__catalog__mobile").click(function() {
        openMobileMenu()
    })
    $(".header__popub__mobile__close").click(function() {
        closeMobileMenu()
    })
    $(".mobile__nav").click(function() {
        closeMobileMenu()
    })
</script>