{% extends './base.html' %}

{% block content %}

   {% include './blocks/main__slider.html' %}

   {% comment %} {% include './blocks/space20.html' %}  {% endcomment %}

   {% for category in categories %}
   <div class="cart__main__title">

    <div class="nice__title__center3"
    id="category-{{ category.id }}">
      <span>
        {{ category.name }}
      </span>
    </div>
</div>
{% include './blocks/space20.html' %}

   <div class="products__list__wrapper">

      {% for product in category.product_set.all  %}
         {% include './blocks/product_single.html' %}
      {% endfor %}

   </div>


   {% include './blocks/space20.html' %}

{% endfor %}


   {% include './blocks/contacts.html' %}



   
{% endblock content %}