{% load static %}
    <div class="cart__main__title">

        {% include './space20.html' %}
        <div class="nice__title__center3"
        id="contact_info_main">
            <span>
            Контакты
            </span>
        </div>
    </div>

<div class="contact__container">
    <div class="contact__container__title">
        Сделать заказ вы всегда можете по нашему номеру телефона:
        <div class="contact__container__phone">
            <a href="tel:+79781161415">
            +7(978) 116-14-15
            </a>
        </div>
    </div>
    
        {% include './space20.html' %}
</div>

<div class="contact__map">
    <div class="check__blocks">
        <div class="check__block active"
        value="#map_loc_block">
            <span>
            Адрес доставки
            </span>
        </div>
        <div class="check__block"
        value="#map_delivery_block">
            <span>
            Зона доставки
            </span>
        </div>
    </div>

    {% include './space20.html' %} 
</div>  



