{% load static %}
    <div class="cart__main__title">

        {% include './space20.html' %}
        <div class="nice__title__center3"
        id="contact_info_main">
            <span>
            Контакты
            </span>
        </div>
    </div>

<div class="contact__container">
    <div class="contact__container__title">
        Сделать заказ вы всегда можете по нашему номеру телефона:
        <div class="contact__container__phone">
            <a href="tel:+78611511254">
            +7 (861)-151-12-54
            </a>
        </div>
    </div>
    
        {% include './space20.html' %}
</div>




