{% load static %}

<div class="page__main__slider__wrapper">

    <div class="page__main__slider">
        <div class="page__main__slider__img">
            <img src="https://envato-shoebox-0.imgix.net/6fc6/84cc-c563-4423-b97e-da06ca091b38/DSC_8587+copy.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=3057f5cb704a567036bf9007fbf03f1b" alt="">
        </div>
        <div class="page__main__slider__img">
            <img src="https://envato-shoebox-0.imgix.net/6fc6/84cc-c563-4423-b97e-da06ca091b38/DSC_8587+copy.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=3057f5cb704a567036bf9007fbf03f1b" alt="">
        </div>
        <div class="page__main__slider__img">
            <img src="https://envato-shoebox-0.imgix.net/6fc6/84cc-c563-4423-b97e-da06ca091b38/DSC_8587+copy.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=3057f5cb704a567036bf9007fbf03f1b" alt="">
        </div>
    </div>

    <span class="prev main_slider_arrow"
    id="prev_main">
        <i class="gg-chevron-left"></i>
    </span>
    <span class="next main_slider_arrow"
    id="next_main">
        <i class="gg-chevron-right"></i>
    </span>

</div>
