{% extends '../products/base.html' %}

{% block content %}

    <div class="max_width_1">
    
    {% include './user_head.html' %}


    <div class="order_page">
        <div class="order_info order_block">
            <div class="nice_title medium">
            <span>
                Заказ #13414132
            </span>
            </div>
            <div class="nice_title pd15">
            <span>
                Детали доставки
            </span>
            </div>
            <div class="flex pd10">
                <i class="fa fa-user grey delivery_info_icon"></i>
                <div class="info_item medium">
                    <span>rin</span>
                    <span>+7(978)-221-55-09</span>
                </div>
            </div>
            <div class="flex pd10">
                <i class="fa fa-map-marker grey delivery_info_icon"></i>
                <div class="info_item regular">
                    <span>Феодосия, Кирова ул, д. 4, кв. 0, подъезд № 0, этаж 0, домофон 0</span>
                </div>
            </div>
        </div>
        <div class="order_items_block order_block">
            <div class="nice_title medium">
            <span>
                Ваш заказ
            </span>
            </div>
            <div class="order_items_block_container">
                <div class="order_item_single">
                    <div class="order_item_single_img">
                        <img src="https://placehold.it/500x500" alt="">
                    </div>
                    <div class="order_item_single_name">
                        Название товара
                    </div>
                    <div class="order_item_single_quantity medium">
                        1 шт.
                    </div>
                    <div class="order_item_single_price medium">
                        280 руб.
                    </div>
                    <div class="order_item_single_addcart
                    product__item__addcart">
                        <span>
                        В корзину
                        </span>
                    </div>
                </div>
                <div class="order_item_single">
                    <div class="order_item_single_img">
                        <img src="https://placehold.it/500x500" alt="">
                    </div>
                    <div class="order_item_single_name">
                        Название товара
                    </div>
                    <div class="order_item_single_quantity medium">
                        1 шт.
                    </div>
                    <div class="order_item_single_price medium">
                        280 руб.
                    </div>
                    <div class="order_item_single_addcart
                    product__item__addcart">
                        <span>
                        В корзину
                        </span>
                    </div>
                </div>
                {% comment %} start order_item_single {% endcomment %}
                <div class="order_item_single">
                    <div class="order_item_single_img">
                        <img src="https://placehold.it/500x500" alt="">
                    </div>
                    <div class="order_item_single_name">
                        Название товара
                    </div>
                    <div class="order_item_single_quantity medium">
                        1 шт.
                    </div>
                    <div class="order_item_single_price medium">
                        280 руб.
                    </div>
                    <div class="order_item_single_addcart
                    product__item__addcart">
                        <span>
                        В корзину
                        </span>
                    </div>
                </div>
                {% comment %} end order_item_single {% endcomment %}
                {% comment %} start order_item_single {% endcomment %}
                <div class="order_item_single">
                    <div class="order_item_single_img">
                        <img src="https://placehold.it/500x500" alt="">
                    </div>
                    <div class="order_item_single_name">
                        Название товара
                    </div>
                    <div class="order_item_single_quantity medium">
                        1 шт.
                    </div>
                    <div class="order_item_single_price medium">
                        280 руб.
                    </div>
                    <div class="order_item_single_addcart
                    product__item__addcart">
                        <span>
                        В корзину
                        </span>
                    </div>
                </div>
                {% comment %} end order_item_single {% endcomment %}
                {% comment %} start order_item_single {% endcomment %}
                <div class="order_item_single">
                    <div class="order_item_single_img">
                        <img src="https://placehold.it/500x500" alt="">
                    </div>
                    <div class="order_item_single_name">
                        Название товара
                    </div>
                    <div class="order_item_single_quantity medium">
                        1 шт.
                    </div>
                    <div class="order_item_single_price medium">
                        280 руб.
                    </div>
                    <div class="order_item_single_addcart
                    product__item__addcart">
                        <span>
                        В корзину
                        </span>
                    </div>
                </div>
                {% comment %} end order_item_single {% endcomment %}
                {% comment %} start order_item_single {% endcomment %}
                <div class="order_item_single">
                    <div class="order_item_single_img">
                        <img src="https://placehold.it/500x500" alt="">
                    </div>
                    <div class="order_item_single_name">
                        Название товара
                    </div>
                    <div class="order_item_single_quantity medium">
                        1 шт.
                    </div>
                    <div class="order_item_single_price medium">
                        280 руб.
                    </div>
                    <div class="order_item_single_addcart
                    product__item__addcart">
                        <span>
                        В корзину
                        </span>
                    </div>
                </div>
                {% comment %} end order_item_single {% endcomment %}
            </div>
        </div>


    </div>


<script>
   $('.user_head').addClass('hide');
</script>
{% endblock content %}